/* CSS Document */
/* fonts ( ik ben GEEN eigenaar van deze fonts ik gebruik deze alleen voor leer doeleinde) */
@font-face {
  font-family: "GraphikBold";
  src: url("fonts/GraphikBold.otf");
}

@font-face {
  font-family: "GraphikMedium";
  src: url("fonts/GraphikMedium.otf");
}

@font-face {
  font-family: "GraphikRegular";
  src: url("fonts/GraphikRegular.otf");
}

:root {
  --font-bold: 'GraphikBold', sans-serif;
  --font-medium: 'GraphikMedium', sans-serif;
  --font-regular: 'GraphikRegular', sans-serif;
  --coinbase_blue: rgb(0, 82, 255);
  --coinbase_black: rgb(5, 15, 25);
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  height: 67px;
  color: rgb(5, 15, 25);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.07);
}

.header_wrap {
  width: 98vw;
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "GraphikMedium";
  font-size: 14px;
}

.header_wrap>.img_container>  a >img {
  max-height: 20px;
  margin-left: 10px;
}

nav>ul {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

nav>ul>li {
  list-style: none;
  margin: 0px 18px 0px 18px;
  line-height: 68px;
  transition: .1s;
  position: relative;
}

nav>ul>li:hover:after {
  content:'';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--coinbase_blue);
  left: 0;
  bottom:0;

}
#active_page:after {
  content:'';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--coinbase_blue);
  left: 0;
  bottom:0;

}

details {
  display: none;
}



nav>ul>li>a {
  color: var(--coinbase_black);
  text-decoration: none;
}

.header_loginPart>a {
  color: var(--coinbase_black);
  text-decoration: none;
}

.header_loginPart>a:nth-child(2) {
  background-color: var(--coinbase_blue);
  color: white;
  text-decoration: none;
  padding: 11px 13px;
  border-radius: 4px;
  margin-left: 17px;
  font-family: var(--font-regular);
}
summary::-webkit-details-marker {
    display: none;
  }





main{
  font-family: var(--font-regular);
  max-width: 1142px;
  margin: 0 auto;
  width: 95%;
}

main > h1{
  text-align: center;
  font-size: 3em;
  padding: 0;
  margin-bottom: 0;
}
main > p{
  text-align:center;
  color: rgba(0, 0, 0, 0.5);
}

.learn_wrapper_first_section{
  display:flex;
  background-color:red;
}













  footer{
    display: flex;
    color: rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    max-width: 1142px;
    margin: 5vh auto;
    justify-content: space-between;
  }
  .general_left_wrapper_footer{
    display: flex;
    flex-direction: column;
    gap:1.3em;
    width: 30%;
  }
  .general_left_wrapper_footer img{
    max-height: 20px;

  }
  .general_left_wrapper_footer select{
    padding: 5px;
    color: rgba(0, 0, 0, 0.4);
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius:5px;
    width: 200px;
  }
  .list_wrapper_footer{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 21%;
    width: 70%;
    /* background:red; */

  }
  .list_wrapper_footer > ul{
  list-style-type: none;
  font-family: var(--font-regular);
  display: block;
  }
  .list_wrapper_footer > ul > li {
  line-height: 1.5em;
  }
  .list_wrapper_footer > ul > li > h3{
  /* font-family: var(--font-bold); */
  font-size: 1em;
  color: var(--coinbase_black);

  }
  /* ////////////MOBILE STUKJE 950px////////////
  ////////////MOBILE STUKJE 950px////////////
  ////////////MOBILE STUKJE 950px////////////
  ////////////MOBILE STUKJE 950px//////////// */

  @media only screen and (max-width: 950px) {
    .header_wrap>.img_container {
      flex-grow: 2;
    }

    nav {
      display: none;
    }

    details {
      display: block;
    }




    summary {
      list-style-type: none;
      position: relative;
      height: 35px;
      width: 35px;
      cursor: pointer;
      margin: 0px 6px 0px 12px;
      /* background-color: red */
    }

    summary>span {
      display: block;
      height: 2px;
      width: 18px;
      border-radius: 4px;
      background-color: var(--coinbase_black);
      margin: 0px 10px 0px 20px;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
    }

    summary>span:before {
      content: '';
      height: 2px;
      width: 18px;
      border-radius: 4px;
      background-color: var(--coinbase_black);
      position: absolute;
      top: 8px;

    }

    summary>span::after {
      content: '';
      height: 2px;
      width: 18px;
      border-radius: 4px;
      background-color: var(--coinbase_black);
      position: absolute;
      top: -8px;
    }


    .header_loginPart>a:nth-child(1) {
      display: none;
    }

    details ul {
      background-color: white;
      list-style: none;
      width: 100vw;
      position: absolute;
      left: 0;
      padding: 0;
      font-size: 16px;

    }


    details ul li {
      padding: 20px 0px 20px 20px;
    }

    details ul li a {
      color: var(--coinbase_black);
      text-decoration: none;
    }





  footer{
    flex-direction: column;
    align-items: center;
  }
  .general_left_wrapper_footer{
    text-align: center;
    width: 50%;
    margin:5vh auto;
  }
  .list_wrapper_footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

  }
  .general_left_wrapper_footer select{margin: 0 auto}


  }


  @media only screen and (max-width: 600px) {

  }
