/* CSS Document */
/* fonts ( ik ben GEEN eigenaar van deze fonts ik gebruik deze alleen voor leer doeleinde) */
@font-face {
  font-family: "GraphikBold";
  src: url("fonts/GraphikBold.otf");
}
@font-face {
  font-family: "GraphikMedium";
  src: url("fonts/GraphikMedium.otf");
}
@font-face {
  font-family: "GraphikRegular";
  src: url("fonts/GraphikRegular.otf");
}



*, *::after, *::before {
  box-sizing:border-box;
}
html, body{
  padding: 0;
  margin: 0;
}
